jobs:
  flink-operator:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          username: ${{ secrets.DOCKERHUB_USERNAME }}
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          build-args: |-
            CACHE_IMAGE=${{ inputs.CACHE_IMAGE }}
            CACHE_VERSION=${{ inputs.CACHE_VERSION }}
          context: .
          file: flink-operator.Dockerfile
          platforms: linux/amd64,linux/arm64
          provenance: false
          pull: true
          push: true
          sbom: false
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/flink-kubernetes-operator:v${{ inputs.CACHE_VERSION }}
name: buildImage::flink-operator
on:
  workflow_dispatch:
    inputs:
      CACHE_IMAGE:
        default: ghcr.io/apache/flink-kubernetes-operator:latest
        description: operator image
        required: true
        type: string
      CACHE_VERSION:
        default: 1.13.0
        description: operator version
        required: true
        type: string
